.cardList-section {
  width: 100%;
  min-height: 530px;
  height: 100%;
  position: relative;
  padding: 40px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardList-container {
  max-width: 1480px;
  width: 100%;
  display: block;
}
.cardList-container__title {
  padding: 10px 0;
  text-transform: uppercase;
  color: #393939;
  transform: translateY(-50px);
  opacity: 0;
  transition: all 1s;
}
.cardList-container__title.active {
  transform: translateY(0px);
  opacity: 1;
}
.cardList-container__text {
  text-transform: uppercase;
  color: #393939;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1s ease 0.6s;
}
.cardList-container__text.active {
  transform: translateY(0px);
  opacity: 1;
}

.cardList-option-block {
  width: 50%;
  height: 100%;
  transform: translateY(-20%);
  opacity: 0;
  transition: all 1s ease 0.5s;
  text-align: start;
  overflow: hidden;
}
.cardList-option-block.active {
  transform: translateY(0);
  opacity: 1;
}
.cardList-option-block h3 {
  padding: 30px 0;
}
.cardList-option-block p {
  text-transform: uppercase;
  line-height: 1.5;
  padding: 20px 0;
}
.cardList-option-block span {
  display: flex;
  align-items: flex-end;
  margin: 15px 0;
  font-size: 14px;
}
.cardList-option-block span b {
  margin-left: 10px;
}
.cardList-option-block span::before {
  content: url(../../svg/svgCard/light3.svg);
  margin-right: 10px;
}

.cardList-images-block {
  width: 100%;
  transform: scale(0.8);
  opacity: 0;
  transition: all 1s;
  margin-top: 30px;
}
.cardList-images-block.active {
  transform: scale(1);
  opacity: 1;
}

.cardList-block-nav {
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 70px;
  width: 100%;
}

.button {
  max-width: 120px;
  width: 100%;
  padding: 5px 20px;
  background-color: #393939;
  color: #fff;
  position: relative;
}
.button:hover {
  background: rgba(57, 57, 57, 0.6745098039);
  transition: all 0.5s;
}

.cardList-card {
  max-width: 440px;
  width: 100%;
  height: auto;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(57, 57, 57, 0.35);
  z-index: 2;
}
.cardList-card img {
  width: 100%;
  height: auto;
}
.cardList-card__option {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.888);
  padding: 10px;
  color: #393939;
}
.cardList-card__option h4 {
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  text-align: start;
}

@media (max-width: 869px) {
  .cardList-box {
    flex-direction: column;
    margin-top: 5px;
  }
  .cardList-images-block {
    width: 100%;
  }
  .cardList-option-block {
    max-width: 440px;
    width: 100%;
    order: 2;
    text-align: center;
    margin-top: 10px;
  }
  .cardList-option-block h3 {
    padding: 10px 0;
  }
  .cardList-option-block p {
    padding: 0;
  }
  .cardList-option-block span {
    justify-content: center;
  }
  .cardList-section {
    padding: 40px 20px;
  }
  .cardList-block-nav {
    margin-top: 5px;
    position: relative;
    bottom: 0;
    justify-content: center;
  }
}

/*# sourceMappingURL=cardPages.css.map */
